*{
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}

body{
  margin:0px;
  padding:none;
  font-family: Sans-serif;
  
}

#main{
  width:100%;
  position: relative;

}

nav{
display: flex;
background: #c30d4c;
color:white;
justify-content: space-around;
align-items: center;
position: fixed;
top: 0;
left:0;
padding-top:1%;
padding-bottom:1%;
width: 100%;
box-shadow: 5px 10px 30px rgba(0,0,0,0.04);
z-index: 2;
}

#hamnav {
width: 100%;
}


#hamitems { display: flex; }
#hamitems a {
  text-decoration: none;
  text-align: center;
}
#hamitems a:hover { 
  
   }

/* (C) HIDE HAMBURGER */
#hamnav label, #hamburger { display: none; }


.logo img{
  height:45px;
}

ul{
  list-style: none;
  display: flex;
}

.menu li a{
  height: 40px;
  line-height: 43px;
  margin:3px;
  padding: 0px 22px;
  display:flex;
  font-size:0.8em;
text-transform: uppercase;
font-weight: 500;
letter-spacing: 1px;
color:white;
}


a{
  text-decoration: none;
}

.content .image{
  width:500px;
  height: 500px;
}

.content .image img{
  width:100%;
  height:100%;
  object-fit: contain;
  padding-right:5%;
}

.content{
  height: 90%;
  padding-top:50%;
  display: flex;
  width:100%;
  justify-content: space-around;
  background: #c30d4c;
  align-items: center;
  position:absolute;
  margin-left:50%;
  margin-right:50%;
  transform: translate(-50%, -50%);
}



.main-text{
  padding-left: 5%;
  text-align:auto;
}

.main-text h1{
  padding-top:2%;
  font-size:3.3em;
  color:white;
  margin:0px 0px 0px 10px;
  line-height: 60px;
  padding
}

.main-text p{
  color: white;
  margin-left:3%;
}

.r_btn{
  margin-left:5%;
  margin-top:2%;
  width:190px;
  height:44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 5px 10px 30px rgba(24,139,119,0.2);

}

.r_btn:hover{
  background-color: #fb74a4;
  transition:all ease 0.2s;
  text-decoration:bold;
}

.menu li a:hover{
  background-color: white;
  color:black;
  box-shadow: 5px 10px 30px rgba(24,139,119,0.2);
  transition:all ease 0.2s;

}

.container{
  padding-top:2%;
  padding-bottom:10%;
}

.container .div1{
  padding-top:10%;
  box-shadow: 5px 10px 30px rgb(0 0 0 / 20%);
  margin-left: 9%;
  margin-right: 9%;
  margin-top: 2%;
}

.container .div1 h1{
  text-align:center;
}

.container .div1 h3{
    margin-top: -9%;
    margin-left: 28%;
    margin-bottom: 3%;
}

.container .div1 img {
    padding-left: 10%;
    padding-bottom: 2%;
}

.services h2{
  color:#c30d4c;
  text-align:center;
}

.services .flex-container{
  display:flex;
  padding-top: 3%;
  padding-left: 17%;
  padding-bottom: 7%;
}

.services .flex-container figcaption{
 margin-top: 0%;
  font-weight: bold;
  margin-left: -18%;
}

.services .flex-container img{
  width:100%;
  height: 100%;
}

.services h1{
  color:black;
  text-align:center;
}



.services {
    padding-bottom: 10%;
    align-items: center;
    /* padding-right: 10%; */
}

.services p {
    /* padding-left: 35%; */
    padding-top: 1%;
    text-align: center;
    line-height: 30px;
}

.services img {
    padding-left: 8%;
    padding-bottom: 2%;
    padding-top: 1%;
}

.services figure{
  display:flex;
}

.seo{
  padding-top:4%;
  padding-bottom: 3%;
  box-shadow: 5px 10px 30px rgb(0 0 0 / 20%);
  margin-left: 8%;
  margin-right: 8%;
  margin-top: -11%;
  display:flex;
  padding-left: 4%;
  padding-right: 4%;
  line-height: 25px;
}

.seo .image2{
  width:100%;
  height: 100%;
}

.seo .image2 img{
  width: 129%;
  height:100%;
  object-fit: contain;
  padding-right:5%;
}

.seo .text{
   margin-left: 10%;
    margin-top: 4%;
}

.seo .text h2 {
    padding-bottom: 2%;
}

.n_btn{
  background:#c30d4c;
  color:white;
  margin-left:5%;
  margin-top:2%;
  width:190px;
  height:44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 5px 10px 30px rgba(24,139,119,0.2);
}

.aboutus{
 padding-top:4%;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 3%;
  display:flex;
  padding-left: 4%;
  padding-right: 4%;
  line-height: 25px;
}

.aboutus .image3{
  width:100%;
  height: 100%;
}

.aboutus .image3 img{
  width: 129%;
  height:100%;
  object-fit: contain;
  padding-right:5%;
}

.aboutus .text{
    margin-left: 10%;
    margin-top: 4%;
}

.aboutus .text h2 {
    padding-bottom: 2%;
}

.container2 {
  padding-top:6%;
  box-shadow: 5px 10px 30px rgb(0 0 0 / 30%);
  margin-left: 9%;
  margin-right: 9%;
  margin-top: 6%;
  margin-bottom: 10%;
}

.container2 .flex-container h2{
  text-align:center;
  color:#c30d4c;
  text-shadow:2px 2px 8px;
}

.container2 .flex-container{
  display:flex;
  padding-top: 0%;
  padding-left: 0%;
  padding-bottom: 7%;
  padding-right:15%;
}

.container2 .flex-container div{
  margin-left: auto;
}

.contactus{
  padding-top:2%;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 3%;
  display:flex;
  padding-left: 4%;
  padding-right: 4%;
  line-height: 25px;
}

.contactus .text1 h2 {
    padding-bottom: 2%;
}

.contactus .text1 h3 {
    padding-bottom: 2%;
}

.contactus .text1  {
    width: 100%;
}

.contactus .text2{
  display:flex;
}

.contactus .text2 .d1{
 box-shadow: 5px 10px 30px rgb(0 0 0 / 30%);
    width: 80%;
    height: 50%;
    margin-left: 14%;
    margin-right: 3%;
    padding-left: 8%;
    padding-right: 5%;
    line-height: 16px;
    padding-top: 10%;
    margin-top: -10%;
}

.contactus .text2 .d2{
 box-shadow: 5px 10px 30px rgb(0 0 0 / 30%);
    width: 80%;
    height: 50%;
    margin-left: 15%;
    margin-right: 3%;
    padding-left: 8%;
    padding-right: 5%;
    line-height: 16px;
    padding-top: 10%;
    margin-top: 6%;
}

.contactus .text2 .d3{
 box-shadow: 5px 10px 30px rgb(0 0 0 / 30%);
    width: 80%;
    height: 50%;
    margin-left: 2%;
    margin-right: 3%;
    padding-left: 8%;
    padding-right: 5%;
    line-height: 16px;
    padding-top: 10%;
    margin-top: 0%;
}

.contactus .text2 .d4{
box-shadow: 5px 10px 30px rgb(0 0 0 / 30%);
    width: 80%;
    height: 50%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 8%;
    padding-right: 5%;
    line-height: 16px;
    padding-top: 10%;
    margin-top: 6%;
}

.test{
  padding-top:4%;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 3%;
  padding-left: 4%;
  padding-right: 4%;
  line-height: 30px;
  margin-bottom: 15%
}

.test h2 {
    margin-bottom: 1%;
}

.test h1 {
    margin-bottom: 1%;
}

.test p {
    text-align: center;
}


.test img{
  width:100%;
  align:center;
  background: rgb(0, 0, 0);
}

.test .centered{
    position: relative;
    margin-top: -9%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 90%);
}

.test .left{
    position: relative;
    margin-top: -7%;
    left: 26%;
    text-align: center;
    transform: translate(-50%, -92%);
}

.test .left2{
    position: relative;
    margin-top: -7%;
    left: 26%;
    text-align: center;
    transform: translate(-27%, -266%);
}

.test .right{
    position: relative;
    margin-top: -19%;
    left: 50%;
    text-align: right;
    transform: translate(-59%, -133%);
}

.test .right2{
   position: relative;
    margin-top: -19%;
    left: 50%;
    text-align: right;
    transform: translate(-138%, 10%);
}

.test .centered p{
  text-align:center;
  line-height: 25px;
  padding-bottom:3%;
}

.test .centered h2{
  padding-bottom:2%;
}

.blog{
  padding-top:5%;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 3%;
  padding-left: 4%;
  padding-right: 4%;
  line-height: 25px;
}

.blog p{
  line-height: 25px;
  text-align: center;
}

.container3 .div4{
  padding-top:5%;
  padding-left: 12%;
  box-shadow: 5px 10px 30px rgb(0 0 0 / 20%);
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 6%;
  padding-bottom: 5%;
}

.footer {
   position: relative;
    padding-left: 10%;
    padding-bottom: 2%;
    width: 100%;
    background: black;
    color: white;
    display: flex;
    padding-top: 4%;
}

.footer .market {
    margin-right: 4%;
}

.footer .navigate {
    margin-right: 4%;
}

.footer .address {
    padding-left: 10%;
    padding-top: 0%;
}

.footer p {
    line-height: 25px;
}

.footer h3 {
    font: message-box;
}

@media screen and (max-width: 768px){
  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #c30d4c;
  }
 

  #hamnav label { 
    display: inline-block; 
    color: white;
    background: #c30d4c;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  #hamitems { display: none; }
  #hamnav input:checked ~ #hamitems { display: block; }
  
 .content{
   display:relative;
    width:100%;
  justify-content: space-around;
  background: #c30d4c;
  align-items: center;
  }
  
  .content .image{
  width:250px;
  height: 250px;
}

  .main-text h1{
  padding-top:4%;
  font-size:1.3em;
  color:white;
  margin:0px 0px 0px 10px;
  line-height: 30px;
}
  
  
.content .image img{
  width:100%;
  height:100%;
  object-fit: contain;
  padding-right:5%;
}
  
 .main-text {
   margin-top:5%;
  }
  
 .main-text p{
  display:none;
}
  
 .container{
   margin-top:25%;
  padding-top:2%;
  padding-bottom:10%;
   display:block;
}
  
  .container .div1 h1{
  text-align:center;
}
  
  .services {
    padding-bottom: 10%;
    align-items: center;
    /* padding-right: 10%; */
}
  .services .flex-container{
  display:block;
    margin-left:5%;
  padding-top: 3%;
  padding-left: 5%;
  padding-bottom: 7%;
}
  
  .seo .image2 img{
  width: 129%;
  height:auto;
  object-fit: contain;
  padding-right:0%;
}
  
  
  .container2{
    display:block;
    font-size:50%;
  }
  
 

.contactus .text1 h3 {
    display:none;
}

  .contactus .text2 .d1{
    display:none;
  }
   .contactus .text2 .d2{
    display:none;
  }
   .contactus .text2 .d3{
    display:none;
  }
  
   .contactus .text2 .d4{
    display:none;
  }
  
  .contactus .flex-container p{
    display:none;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
}










